@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@300&family=Poppins:wght@400;700&family=Rubik+Maps&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: azure;
}
.container{
    /* width:100vw; */
    overflow-x: clip;
}
body{
    background-color: #002244;
}
.navContainer{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #003153;
}
nav{
    /* padding:0 10rem; */
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 9rem;
    /* padding: 0.5rem; */
}
.navs{
    display: flex;
    list-style:none;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}
.navs a{
    transition:all 0.5s ease;
}
.navs a:hover{
    font-size: 1.2rem;
    color: rgb(167, 94, 235);
}

.left{
    font-size: 1.2rem;
    font-weight: 530;
}
.right{
    font-weight: 600;
}
.firstsection{
    display: flex;
    justify-content: space-around;

    /* border: solid black; */
    height: 88vh;
    align-items: center;
}
.leftcont{
    /* border: solid black; */
    width: 35%;
    font-size: 2rem;
    font-weight: 510;

}
.scroll{
    margin: 4rem 0 0 0;
    font-weight: 600;
    color: rgb(163, 161, 161);
    font-size: large;
}
.purple{
    color: rgb(167, 94, 235);
}
#element{
    color: rgb(167, 94, 235);
}
.rightcont{
    /* border: solid black; */
    width: 25rem;
    height: 25rem;
    /* border: solid black; */
    overflow:hidden;
    border-radius: 50%;
}
.pfp{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    object-fit:cover;
    scale: 1.2;
    transition: all ease 1s;
}
.rightcont:hover .pfp{
    scale: 1.3;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials ul{
    display: flex;
    list-style:none;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.scimg{
    height: 1.5rem;
    width: 1.5rem;
    aspect-ratio: auto;
}
.ghimg{
    height: 1.75rem;
    width: 1.75rem;
    aspect-ratio: auto;
}
.twimg{
    height: 1.75rem;
    width: 1.75rem;
    aspect-ratio: auto;
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    /* animation: fadeIn ease-in-out 500ms; */
    transition: opacity 0.5s ease-in-out, transform 2s ease-in; /* Corrected 'translate' to 'transform' */
}



hr {
    margin: 0rem 10rem 4rem 10rem;
    border: 0;
    background: rgb(178, 178, 235);
    height: 0.2rem;
}

.aboutme{
    margin: 1rem 0 0 0;
    display: flex;
    width: 100%;
    gap: 4rem;
}
#abth{
    margin: 5rem 0 0 0;
}
.leftabt {
    width: 150rem;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-weight: 200;
}

.rightabt {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    font-size: large;
    font-weight: 400;
}
.hire{
    padding: 0.69rem;
    background-color: #222;
    /* color: #222; */
    border: solid white 2px;
    border-radius: 1rem;
    font-size: large;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}
.hire:hover{
    cursor: pointer;
    background-color:#72A0C1;
    color: azure;
    border: solid azure 2px;
}
.abtbtn{
    padding: 0.69rem;
    color: azure;
    border: solid azure 2px;
    border-radius: 1rem;
    background-color: #222;
    font-size: large;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}
.abtbtn:hover{
    cursor: pointer;
    background-color:#72A0C1;
    color: azure;
    border: solid azure 2px;
}
.work{
    margin: 2rem 10rem 1rem 10rem;
    border: 0;
    background: rgb(178, 178, 235);
    height: 0.2rem;
}

.worksection{
    padding-top: 2rem;
    max-width: 80vw;
    margin: auto;
}
.workhead{
    margin: 3.2rem 0 0 0;
}
.workcont {
    padding: 1.5rem;
    width: auto;
    display: flex;
    gap: 2rem;
}
.pastexp{
    width: 25rem;
}
.first{
    width: 20rem;
}
.second{
    width: 20rem;
}
.vertical{
    display: flex;
    border: solid azure 1px;
    height: 30rem;
    width: 1px;
    margin: 15px 0 0 36px;
    gap: 3rem;
    justify-content: center;
    flex-direction: column;
}
.horizontal{
    border: solid 1px azure;
    height: 1px;
    width: 10rem;
}
.orgcont {
    margin: 0px 0px 8px 17px;
    height: 3.3rem;
    width: 6rem;
    overflow: hidden;
    border-radius:8px;
    object-fit: contain;
}

.orgimg {
    height: 3.3rem;
    width: 6.3rem;
}
.desc{
    padding: 1rem;
}
.projects {
    text-align: center;
    width: 70rem;
}
.projectcontainer{
    border: solid 1px;
    border-radius: 15px;
    /* padding: 1rem; */
    margin: 13px -2px 0 0;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
prjhead{
    width: 100%;
}
.project {
    margin: 1.2rem;
    width: 14rem;
    height: 18rem;
    background-color: cadetblue;
    border: solid 2px white;
    border-radius: 12px;
    object-fit:fill;
    overflow: hidden;
    transition: all 0.25s ease-in;
    position: relative;
}

.project:hover{
    cursor: pointer;
    scale: 1.05;
}
.pcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prjimg{
    height: 20rem;
}
.prjview{
    color: rgb(168, 165, 165);
    font-size: small;
}
.github {
    background-color:#003153;
    padding: 5px;
    border: solid 0.5px white;
    margin: 0 0px 0px 10px;
    border-radius: 5px;
}
.github:hover {
    cursor: pointer;
    color: #003153;
    background-color: white;
}
.github:hover a{
    color: #003153;
    background-color: white;
}

.skillsection{
    padding-top: 2rem;
    max-width: 80vw;
    margin: auto;
}
.skillcontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 3.4rem;
}
.languages, .webdev, .technical{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skillimg{
    height: 6rem;
    width: 7rem;
}
.imgcont{
    background:#2e628756;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 30px 0 0 0;
    height: 25rem;
    width: 20rem;
    border-radius: 20px;
    border: solid 3px;
    transition: all 0.2s ease-in;
}
.imgcont:hover{
    /* cursor: pointer; */
    scale: 1.07;
    box-shadow: 4px 4px 7px rgba(255, 255, 255, 0.427);
    background-color: rgb(128, 235, 180);
    /* border:solid orange 2px; */
}
.htmlcssjs{
    height: 6rem;
    width: 10rem;
}
.tskillimg {
    height: 6.5rem;
    width: 11rem;
}
.contactsection{
    padding-top: 2rem;
    max-width: 80vw;
    margin: auto;
}
.contactcont{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
.contbtn{
    margin: 9px 0 9px 0px;
    background-color:#222;
    height: 2.7rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: solid white 2px;
    transition: all 0.3s ease-in-out;
}
.contbtn:hover{
    scale: 1.04;
    background-color: rgba(221, 160, 221, 0.526);
    box-shadow: 4px 4px 7px white;
}
.form{
    height: auto;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 13px 0 0 0;
}
.formcont{
    margin: 14px 0 0 0;
    display: flex;
    flex-direction: column;
}
.inputtext{
    background-color:#003153;
    color: azure;
    border: solid 2px azure;
    border-radius: 4px;
    width: 25rem; 
}
.inputtext:hover{
    box-shadow: 4px 4px 7px rgba(89, 89, 185, 0.837);
}
textarea{
    width: 25rem;
    border-radius: 8px;
    background-color:#003153;
    color: azure;
    border: solid 2px azure;
}
textarea:hover{
    box-shadow: 4px 4px 7px rgba(89, 89, 185, 0.837);
}
.formbtn{
    background-color: #222;
    border: solid 2px;
    border-radius: 4px;
    margin: 7px 0 0 0;
    transition: all 0.3s ease-in-out;
}
.formbtn:hover{
    background-color: white;
    color: #222;
    cursor: pointer;
}
.footersection{
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    background-color:#003153;
}

@media screen and (max-width:1350px) {
    .navContainer {
        height: 4.5rem;
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 9999;
    }
    nav{
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }
    .navs{
        gap: 2rem;

    }
    .firstsection{
        flex-direction: column-reverse;
        margin: 107px 0 0 0;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    .leftcont{
        width: 70%;
        text-align: center;
    }
    .rightcont{
        width: 14rem;
        height: 14rem;
    }
    .workcont{
        /* flex-direction: column; */
    }
    .projectcontainer{
        grid-template-columns: repeat(1,1fr);
        margin: 0 0 0 79px;
        width: 73%;
        height: 45rem;
    }
    .project{
        height: 10rem;
    }
    .pcontainer{
        height: 70%;
    }
    .prjimg{
        height: 10rem;
    }
    .skillcontainer{
        grid-template-columns: repeat(1,1fr);
    }
    .imgcont{
        height: 25rem;
        width: 30rem;
    }
    .projects {
        text-align: center;
        width: 60rem;
    }
    .socials ul{
        display: none;
    }
    .contactcont{
        flex-direction: column;
    }
}
@media screen and (max-width:800px)
{
    .projectcontainer {
        width: 77%;
    }
    .workcont{
        flex-direction: column-reverse;
    }
    .projects {
        /* text-align: center; */
        width: 36rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .pastexp {
        width: 25rem;
        /* text-align: center; */
        margin: 0px 0px 0px 132px;
    }
    
.skillcontainer {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 0;
}

.projectcontainer {
    grid-template-columns: repeat(1,1fr);
    margin: 0 0 0 0;
    width: 75%;
    height: 45rem;
}

}

@media screen and (max-width:568px){
    .navs{
        gap: 1rem;
    }
    .aboutme{
        flex-direction: column;
    }
    .leftabt{
        width: auto;
        font-size: 18px;
    }
    .workcont{
        padding-top: 1.5rem;
    }
    .projects{
        width: auto;
    }
    .project{
        margin: 0;
    }
    .projectcontainer{
        width: 100%;
    }
    .pcontainer{
        width: auto;
    }
    .pastexp{
        margin: 0;
    }
    .imgcont {
        height: 25rem;
        width: 16rem;
        margin: 0;
    }
    .skillhead{
        margin: 1rem 0 0 0;
    }
    .contbtn{
        width: 20rem;
    }
    .inputtext{
        width: 20rem;
    }
    textarea{
        width: 20rem;
    }
}
