@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@300&family=Poppins:wght@400;700&family=Rubik+Maps&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: azure;
}
body{
    background-color: #002244;
}
nav{
    /* padding:0 10rem; */
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #003153;
    /* padding: 0.5rem; */
}
nav ul{
    display: flex;
    list-style:none;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
nav ul a{
    animation: 0.5s ease-in;
}
nav ul a:hover{
    font-size: 1.05rem;
    color: rgb(167, 94, 235);
}
.left{
    font-size: 1.2rem;
    font-weight: 530;
}
.right{
    font-weight: 600;
}
.firstsection{
    margin: 8rem 4rem 0 0rem;
    display: flex;
    justify-content: space-around;

    /* border: solid black; */
    height: 25rem;
    align-items: center;
}
.leftcont{
    /* border: solid black; */
    width: 35%;
    font-size: 2rem;
    font-weight: 510;

}
.purple{
    color: rgb(167, 94, 235);
}
#element{
    color: rgb(167, 94, 235);
}
.rightcont{
    /* border: solid black; */
    width: 25%;
    height: 100%;
    /* border: solid black; */
    overflow:hidden;
    border-radius: 50%;
}
.pfp{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    object-fit:cover;
}

